.campo-digitacao {
    font-size: 30px;
    height: 130px;
    margin-bottom: 15px;
    border: 3px solid black;
}

.frase {
    font-size: 20px;
    text-align: left;
}

#erro {
    color: brown;
    background-color: lightcoral;
    display: none;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid brown;
}

#spinner {
    display: none;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.placar {
    display: none;
}

body {
    overflow: scroll;
}